___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>
# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write (or just say out loud to yourself) a brief description of all the following Object Types and Data Structures we've learned about. You can edit the cell below by double clicking on it. Really this is just to test if you know the difference between these, so feel free to just think about it, since your answers are self-graded.

Double Click HERE to edit this markdown cell and write answers.

Numbers:

Strings:

Lists:

Tuples:

Dictionaries:

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [1]:
a=100+.25
print(a)

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [3]:
a=4* (6 + 5)
    
b=4 * 6 + 5 
    
c= 4 + 6 * 5
print( f' a={a}:44  b={b}:29  c={c}:34')

 a=44:44  b=29:29  c=34:34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

In [4]:
a= 3 + 1.5 + 4
print(f"a={a}:8.5")

a=8.5:8.5

What would you use to find a numberâ€™s square root, as well as its square?

In [6]:
# Square root:
sqrt=4**0.5 
print(f"sqrt={sqrt}:2.0")

sqrt=2.0:2.0

In [7]:
# Square:
square=2**2
print(f"square={square}:4")

square=4:4

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [8]:
s = 'hello'
# Print out 'e' using indexing
print(f"s[1]={s[1]}:e")

s[1]=e:e

Reverse the string 'hello' using slicing:

In [12]:
s ='hello'
# Reverse the string using slicing
print(f"s[::-1]={s[::-1]}")

s[::-1]=olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [13]:
s ='hello'
# Print out the 'o'

# Method 1:
print(s[-1::])

o

In [16]:
# Method 2:

print(s[4])
print(s[len(s)-1] )

o
o

## Lists

Build this list [0,0,0] two separate ways.

In [17]:
# Method 1:
list1 = [0]*3
print(f"list1={list1}")

list1=[0, 0, 0]

In [18]:
# Method 2:
list2 = [0,0,0]
print(f"list2={list2}")

list2=[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [19]:
list3 = [1,2,[3,4,'hello']]
list3[2][2]='goodbye'
print(f"list3={list3}")

list3=[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [20]:
list4 = [5,3,4,6,1]
list4.sort()
print(f"list4={list4}")

list4=[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [21]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key' ]
print(f"d['simple_key']={d['simple_key']}")

d['simple_key']=hello

In [22]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [27]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
# Dictionary key is 'k1'
# The 'k1' value is a List index is 0 which points to the dictionary key 'nested_key'
# The 'nested_key' value is an embeded List of a list of two indexes where [0] is 'this is deep' and List [1] points to the string 'hello'
# The 'nested_key' value is a List index is 1 which points to the string 'hello'   d['k1'][0]['nest_key'][1][0]

d['k1'][0]['nest_key'][1][0]
print(f"d['k1'][0]['nest_key'][1][0]={d['k1'][0]['nest_key'][1][0]}")

d['k1'][0]['nest_key'][1][0]=hello

In [31]:
# This will be hard and annoying!
'''
The provided code snippet demonstrates how to access deeply nested data within a dictionary in Python. 
The dictionary d contains a key 'k1' which maps to a list. 
This list contains three elements: the integers 1 and 2, and another dictionary. 
This nested dictionary has a key 'k2' which maps to another list. 
This list contains two elements: the string 'this is tricky' and yet another dictionary. 
This innermost dictionary has a key 'tough' which maps to a list containing three elements: the integers 1 and 2, 
and a list with a single string element 'hello'.

To access the string 'hello', the code uses a series of indexing operations:

d['k1'] accesses the list associated with the key 'k1'.
d['k1'][2] accesses the third element of this list, which is the dictionary {'k2': ['this is tricky', {'tough': [1, 2, ['hello']]}]}.
d['k1'][2]['k2'] accesses the list associated with the key 'k2' in this dictionary.
d['k1'][2]['k2'][1] accesses the second element of this list, which is the dictionary {'tough': [1, 2, ['hello']]}.
d['k1'][2]['k2'][1]['tough'] accesses the list associated with the key 'tough' in this dictionary.
d['k1'][2]['k2'][1]['tough'][2] accesses the third element of this list, which is the list ['hello'].
Finally, d['k1'][2]['k2'][1]['tough'][2][0] accesses the first element of this list, which is the string 'hello'.
This example illustrates the complexity that can arise when working with deeply nested data structures and highlights the importance of understanding the structure of your data to access elements correctly.
'''

d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

d['k1'][2]['k2'][1]['tough'][2][0]
print(f"d['k1'][2]['k2'][1]['tough'][2][0]={d['k1'][2]['k2'][1]['tough'][2][0]}")

d['k1'][2]['k2'][1]['tough'][2][0]=hello

Can you sort a dictionary? Why or why not?<br><br>

## Tuples

What is the major difference between tuples and lists?<br><br>
Tuples are immutable, meaning that once they are created, their elements cannot be changed. Lists, on the other hand, are mutable, allowing you to modify their contents after creation.

How do you create a tuple?<br><br>

t=(1,2,4)

## Sets

What is unique about a set?<br><br>

Only unique elements are stored in the set

Use a set to find the unique values of the list below:

In [32]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set(list5)
print(f"set(list5)={set(list5)}")

set(list5)={1, 2, 33, 4, 3, 11, 22}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [33]:
# Answer before running cell False
2 > 3

False

In [34]:
# Answer before running cell False
3 <= 2

False

In [35]:
# Answer before running cell False
3 == 2.0

False

In [37]:
# Answer before running cell True

# The expression 3.0 == 3 uses the equality operator == to compare the floating-point number 3.0 with the integer 3.
# In Python, the equality operator checks whether the values on both sides of the operator are equal. 
# Despite 3.0 being a float and 3 being an integer, 
# Python considers them equal because they represent the same numerical value.
# Therefore, the expression evaluates to True.
3.0 == 3

True

In [38]:
# Answer before running cell False
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [39]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False? False
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!